goozy.store, www.goozy.store {
  encode gzip

  @api path /api/*
  reverse_proxy @api shortv2-backend:8888 {
    header_up Host {host}
    header_up X-Forwarded-Proto {scheme}
    header_up X-Real-IP {remote}
  }

  # Static frontend is served by backend at '/'
  reverse_proxy shortv2-backend:8888

  tls {
    # Automatic Let's Encrypt via Caddy
  }
}




